.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-full{
  background-color: #fafafa;
  width:100%;
  height: 100%;
  min-height: 100vh;
}
#nav{
  padding-left: 30px;
}
#chat{
  padding-top: 30px;
  height: 100%;
  min-height: 100vh;
}
table {
    border-collapse: collapse;
    width: 100%;
    padding: 20px;
    margin-top: 40px;
}

th, td {
    text-align: left;
    padding: 8px;
}
td:nth-child(even){
  text-align: right;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
/* .nav{
  font-size: 16px;
}
.nav li:hover{
  background-color: #fefefe;
  padding-left: 3px;
  padding-right: 3px;
} */
.message{
  font-size: 14px;
}
#sendMessage{
  position: fixed;
  bottom: -20px;
  width:80%;
}
.jumbotron{
  height: 20px;
  position: fixed;
  top: -40px;
  width: 90%;
  margin-left: -20px;
  text-align: left;
}
